@page
@using GoodsTime.Models.Extensions
@model GoodsTime.Pages.Goods.EditModel
@section scripts {
<script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>
<script>
	$(function() {
		var url = "@Model.Goods.CreateUrl()"
		$("#qrcode").qrcode({ width: 128, height: 128, text: url });
	})
</script>
}
@{
}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<form method="post">
				<div class="mb-3">
					<label asp-for="Goods.Number" class="control-label"></label>
					<input asp-for="Goods.Number" class="form-control" />
					<span asp-validation-for="Goods.Id" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Goods.Description" class="control-label"></label>
					<input asp-for="Goods.Description" class="form-control" />
					<span asp-validation-for="Goods.Description" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<input type="submit" value="Update" class="btn btn-primary" />

					<!-- これSessionが使えるといい -->
					<input hidden asp-for="Goods.UpdateId" class="form-control" />
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="qrcode"></div>
		</div>
	</div>
</div>