@page
@model GoodsTime.Pages.Goods.IndexModel
@{
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">備品番号</th>
                    <th scope="col">登録日時</th>
                    <th scope="col">最終更新日時</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Number</td>
                        <td>@item.RegisterDate</td>
                        <td>@item.UpdateDate</td>
                        <td><a class="btn btn-outline-info" href="./Goods/Edit?id=@item.Id" role="button">Info</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>