@page
@model GoodsTime.Pages.StocktakingEvent.IndexModel
@{
}

<div class="row">
    <div class="col-md-12 mb-3">
        <a class="btn btn-success" asp-page="/StocktakingEvent/Add">新規棚卸</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">棚卸名</th>
                    <th scope="col">棚卸実施日</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.CreatedAt.ToString("yyyy/MM/dd")</td>
                        <td><a class="btn btn-secondary" href="/StocktakingEvent/Show?id=@item.Id" role="button">結果表示</a></td>
                        <td><a class="btn btn-success" href="/StocktakingEvent/Taking?id=@item.Id" role="button">棚卸する</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>