@page
@model GoodsTime.Pages.StocktakingEvent.ShowModel
@{
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">備品番号</th>
                    <th scope="col">取得日</th>
                    <th scope="col">破棄／返却予定日</th>
                    <th scope="col">棚卸チェック</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Number</td>
                        <td>@item.GetDate?.ToString("yyyy/MM/dd")</td>
                        <td>@item.ReleaseDate?.ToString("yyyy/MM/dd")</td>
                        <td><input class="form-check-input" type="checkbox" name="Targets" checked="checked" disabled="disabled" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>